apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: agro-drones
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
      - name: postgres
        image: 996417348665.dkr.ecr.us-east-1.amazonaws.com/agro-drones:postgress-db-v1
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          value: agrodb
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: DB_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: DB_PASSWORD
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc
