apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: agro-drones
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
      - name: frontend
        image: 996417348665.dkr.ecr.us-east-1.amazonaws.com/agro-drones:frontend-v1
        ports:
        - containerPort: 80
        env:
        - name: BACKEND_URL
          valueFrom:
            configMapKeyRef:
              name: frontend-config
              key: BACKEND_URL
